.header {
  max-width: 100vw;
  color: white;

  &__links {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    align-items: center;
    padding: 20px 80px;
  }
  &__links-group {
    display: flex;
  }
  &__link {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  &__link-to-main {
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
  }
}
